<%= form_for(@user, data: {ajax: false}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "off", data: { clear_btn: true } %>
  </div>
  <br />

  <div>
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "off", data: { clear_btn: true } %>
  </div>
  <br />

  <div>
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, autocomplete: "off", data: { clear_btn: true } %>
  </div>
  <br />

  <% if @user.new_record? %>
    <%= f.button "Create Account", class: 'ui-btn ui-corner-all' %>
  <% else %>
    <%= f.button "Update Account", class: 'ui-btn ui-corner-all' %>
  <% end %>
<% end %>
