<%= form_for(@user, data: {ajax: false}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :email, class: 'ui-hidden-accessible' %>
  <%= f.text_field :email, data: { clear_btn: true }, placeholder: 'Email' %>

  <%= f.label :first_name, class: 'ui-hidden-accessible' %>
  <%= f.text_field :first_name, data: { clear_btn: true }, placeholder: 'First Name' %>

  <%= f.label :last_name, class: 'ui-hidden-accessible' %>
  <%= f.text_field :last_name, data: { clear_btn: true }, placeholder: 'Last Name' %>

  <% if current_user.admin? %>
    <%= f.label :residency, class: 'ui-hidden-accessible' %>
    <%= f.text_field :residency, data: { clear_btn: true }, placeholder: 'Residency Name' %>
  <% end %>

  <br />

  <% if @user.new_record? %>
    <%= f.button "Create Account", class: 'ui-btn ui-corner-all' %>
  <% else %>
    <%= f.button "Update Account", class: 'ui-btn ui-corner-all' %>
  <% end %>
<% end %>
