<div data-role="page">
  <% if !current_user.present? %> <!-- header content -->
    <% content_for :header_title, 'How many patients did you help today?' %>
  <% else %>
    <% content_for :header_title, 'New User' %>
  <% end  %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>

  <%= render 'form' %>

  <%= link_to 'Back', users_path %>

  <%= render 'layouts/footer' %>
</div>
