<div data-role="page">
  <% if !current_user.present? %> <!-- header content -->
    <% content_for :header_title, 'How many patients did you help today?' %>
  <% else %>
    <% content_for :header_title, 'User Details' %>
  <% end  %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>

  <% if !current_user.present? %>

    <%= render 'layouts/sign_in_message' %>

  <% else %>

    <% if !policy(@user).show? %>

      <div class="unauthorized_content">
        <p>You are not authorized to view this user.</p>
      </div>

    <% else %>
      <div class="wrap_section_narrow users_show_section">
        <table data-role="table" class="users_show">
          <thead>
            <tr class="fullwidth">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Role</th>
            </tr>
          </thead>

          <tbody>
            <% if policy(@user).show? %>
              <tr class="lineitem fullwidth">
                <td><%= @user.first_name %></td>
                <td><%= @user.last_name %></td>
                <td><%= @user.role %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div id="user_show_buttons" data-role="navbar">
          <ul>
            <% if policy(@user).edit? %>
              <li>
                <%= link_to 'Edit Profile', edit_user_path(@user), class: 'ui-shadow', data: {transition: 'flip'} %>
              </li>
            <% end %>
            <% if policy(User).index? %>
              <li>
                <%= link_to 'My Residents', users_path, class: 'ui-shadow' %>
              </li>
            <% end %>
          </ul>
        </div><!-- /navbar -->
      </div>
    <% end %>

  <% end %>

  <%= render 'layouts/footer' %>
</div>
