<div data-role="page" data-dialog="true" data-close-btn="false" data-no-transition-cache>
  <!-- data-close-btn-text="X" Will this attribute show an X in IE8 -->
  <div data-role="header">
    <h2>Change Password</h2>
  </div><!-- /header -->

  <%= render 'layouts/flash_messages' %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div>
      <%= f.label :password, class: 'ui-hidden-accessible' %>
      <%= f.password_field :password, placeholder: "new password", autofocus: true, autocomplete: "off" %>
    </div>
    <br />

    <div>
      <%= f.label :password_confirmation, class: 'ui-hidden-accessible' %>
      <%= f.password_field :password_confirmation, placeholder: "confirm new password", autocomplete: "off" %>
    </div>

    <% if resource.respond_to?(:tos_accepted) && !resource.tos_accepted? %>
      <div id="tos-notice" style="margin-top: 1.5em; margin-bottom: 1em;">
        <p>
          Please ackowledge the
          <a href="https://www.encountercounter.com/terms-of-service">Terms of Service</a>
          and
          <a href="https://www.encountercounter.com/privacy-policy">Privacy Policy</a>.
        </p>
      </div>
      <div id="tos-checkbox" class="ui-checkbox">
        <%= f.label :tos_accepted, 'I agree to the Terms of Service and Privacy Policy.',
          class: 'ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off' %>
        <%= f.check_box :tos_accepted, data: {enhanced: "true"} %>
      </div>
    <% end %>
    <br />

    <div>
      <%= f.button "Change My Password" %>
    </div>
  <% end %>
</div>
