<p id="notice"><%= notice %></p>

<h1>Listing Residencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residencies.each do |residency| %>
      <tr>
        <td><%= residency.id %></td>
        <td><%= residency.name %></td>
        <td><%= link_to 'Show', residency %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Residency', new_residency_path %>
