<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @residency.id %>
  <strong>Name:</strong>
  <%= @residency.name %>
</p>

<p>
  <strong>users:</strong>
  <ul>
    <% @residency.users.each do |user| %>
      <li><%= user.id %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', residencies_path %>
