<%= form_tag("/encounters", method: "post", class: 'new_encounter form-horizontal', role: 'form', data: {ajax: false}) do %>

  <%= render 'errors' %>

  <%= hidden_field_tag(:encountered_on, Time.zone.today) %>
  <% current_user.items.each do |item| %>
    <%= hidden_field(:encounter_types, item.name.to_sym, value: "0") %>
  <% end %>

  <div class="actions">
    <%= submit_tag('Submit', class: 'signUpBtnMid blockFloatRight') %>
  </div>

<% end %>
