<!-- Begin Page 1 -->
<div data-role="page" id="encounters_index" data-url="encounters" tabindex="0">

  <% if !current_user.present? %>
    <% content_for :header_title, 'How many patients did you help today?' %>
  <% else %>
    <% if current_user.role != 'admin' %>
      <% content_for :user_first_name_header, "#{current_user.first_name}" %>
      <% content_for :user_last_name_header, "#{current_user.last_name}'s" %>
    <% else %>
      <% content_for :residency_name, "All Resident" %>
    <% end %>
    <% content_for :header_title, 'Encounters' %>
  <% end %>

  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>

  <% if !current_user %>

    <%= render 'layouts/sign_in_message' %>

  <% else %>

    <div class="wrap_section_narrow encounters_index_section">
      <table data-role="table" class="encounters_index">
        <thead>
          <tr class="fullwidth">
            <% if current_user.role == 'admin' %>
              <th>Resident</th>
            <% end %>
            <th>Type</th>
            <th>Encountered</th>
            <th>Submitted</th>
          </tr>
        </thead>

        <tbody>
          <% current_user_invited_users = current_user.invitations %>
          <% @encounters.each do |encounter| %>
            <% if current_user == encounter.user ||
              ( policy(encounter).index? && current_user_invited_users.include?(encounter.user) ) %>
              <tr class="lineitem_index fullwidth">
                <% if current_user.role == 'admin' %>
                  <td><%= encounter.user.present? ? encounter.user.name : "Unknown" %></th>
                <% end %>
                <td><%= link_to encounter.encounter_type, encounter %></td>
                <td><%= encounter.encountered_on %></td>
                <td><%= encounter.created_at.to_date %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  <% end %>

  <%= render 'layouts/footer' %>
</div>
<!-- End Page 1 -->
