<!-- Begin Page 1 -->
<div data-role="page" id="form" data-url="form" tabindex="0" style="min-height: 658px;">

  <% content_for :header_title, 'How many patients did you help today?' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>

  <% if !current_user %>

    <%= render 'layouts/sign_in_message' %>
    <footer style="margin-top: 0;" class="fullwidth_footer <%= conditional_fixed_footer %>">
      <h4>&copy; <%= Time.now.year %> Encounter Counter</h4>
    </footer>

  <% elsif current_user.subscription_expired? %>

    <%= render 'layouts/subscription_expired' %>
    <footer style="margin-top: 0;" class="fullwidth_footer <%= conditional_fixed_footer %>">
      <h4>&copy; <%= Time.now.year %> Encounter Counter</h4>
    </footer>

  <% elsif current_user.admin? %>

    <%= render 'layouts/admin_only' %>
    <footer style="margin-top: 0;" class="fullwidth_footer <%= conditional_fixed_footer %>">
      <h4>&copy; <%= Time.now.year %> Encounter Counter</h4>
    </footer>

  <% else # current_user.resident? %>

    <div class="wrap_section_narrow">
      <div class="spacer">
        <%= date_field_tag(:date, Time.zone.today, onchange: "setEncounteredOn()") %>
      </div>
    </div><!-- /wrap_section_narrow -->

    <div class="wrap_section_narrow">
      <% encounter_types = ['adult_inpatient', 'adult_ed', 'adult_icu', 'adult_inpatient_surgery',
         'pediatric_inpatient', 'pediatric_newborn', 'pediatric_ed',
         'continuity_inpatient', 'continuity_external'] %>
      <%= render partial: 'encounter_types', locals: {encounter_types: encounter_types} %>
      <%= render partial: 'form', locals: {encounter_types: encounter_types} %>
    </div><!-- /wrap_section_narrow -->

    <div class="wrap_section_narrow">
      <div id="buttonsLine"class="row">
        <%= submit_tag('Reset', class: 'resetBtnMid blockFloat', onclick: "resetEncounters()") %>
        <div id="totalEncountersBlock">
          <div id="total" class="totalnumber blockFloat">0</div>
        </div>
      </div>
    </div><!-- /wrap_section_narrow -->

    <div class="spacer">
    </div>
    <%= render 'layouts/footer' %>
  <% end %>
</div> <!-- End Page 1 -->
