<!-- Begin Page 1 -->
<div data-role="page" id="summary" data-url="summary" tabindex="0">

  <% if !current_user.present? %> <!-- header content -->
    <% content_for :header_title, 'How many patients did you help today?' %>
  <% else %>
    <% if current_user.admin? %>
      <% content_for :user_first_name_header, "All" %>
      <% content_for :user_last_name_header, "Residents" %>
    <% elsif current_user.first_name && current_user.last_name %>
      <% content_for :user_first_name_header, "#{current_user.first_name}" %>
      <% content_for :user_last_name_header, "#{current_user.last_name}'s" %>
    <% else %>
      <% content_for :user_last_name_header, "#{current_user.email.split('@').first}'s" %>
    <% end %>
    <% content_for :header_title, "Summary" %>
  <% end %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>


  <% if !current_user %> <!-- Show sign in message if not signed in. -->

    <%= render 'layouts/sign_in_message' %>

  <% else %> <!-- Show nav. and table if signed in -->

    <div class="wrap_section_narrow encounters_summary_section">

      <table data-role="table" class="encounters_summary">
        <thead>
          <tr class="fullwidth">
            <% if current_user.admin? %>
              <th>Resident</th>
            <% end %>
            <th>Type</th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <% current_user_invited_users = current_user.invitations %>
          <% @encounters_count.each do |group, count| %>
            <% user = User.find(group[0]) %>
            <!-- Show a row if it belongs to the current_user or if the current_user has summary privileges  -->
            <% if policy(user).show? %>
              <tr class="lineitem fullwidth">
                <% if current_user.admin? %>
                  <td><%= user.name %></td>
                <% end %>
                <td><%= group[1] %></td>
                <td><%= count %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <% if current_user.admin? %>
        <div id="encounters_summary_buttons" data-role="navbar">
          <ul>
            <li>
              <%= link_to 'Invite Resident', new_user_invitation_path, class: 'ui-shadow', data: {transition: 'flip'} %>
            </li>
            <li>
              <%= link_to 'My Residents', users_path, class: 'ui-shadow' %>
            </li>
          </ul>
        </div><!-- /navbar -->
      <% end %>
    </div>

  <% end %>

  <%= render 'layouts/footer' %>
</div>
<!-- End Page 1 -->



