<!-- Begin Page 1 -->
<div data-role="page" id="index" data-url="index" tabindex="0">

  <% if current_user.present? %> <!-- header content -->
    <% if policy(Encounter).summary? %>
      <% content_for :user_first_name_header, "All" %>
      <% content_for :user_last_name_header, "Residents" %>
    <% else %>
      <% content_for :user_first_name_header, "#{current_user.first_name}" %>
      <% content_for :user_last_name_header, "#{current_user.last_name}'s" %>
    <% end %>
  <% end %>
  <% content_for :header_title, "Summary" %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>


  <% if !current_user %> <!-- Show sign in message if not signed in. -->

    <%= render 'layouts/sign_in_message' %>

  <% else %> <!-- Show nav. and table if signed in -->

    <div class="wrap_section_narrow encounters_summary_section">
      <table data-role="table" class="encounters_summary">
        <thead>
          <tr class="fullwidth">
            <% if policy(Encounter).summary? %>  <!-- Show name column if policy allows -->
              <th>Resident</th>
            <% end %>
            <th>Type</th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <% @encounters_count.each do |group, count| %>
            <% user = User.find(group[0]) %>
            <% if user == current_user || policy(Encounter).summary? %>  <!-- Show rows belonging to the current_user or permitted rows -->
              <tr class="lineitem fullwidth">
                <% if policy(Encounter).summary? %> <!-- Show name column if policy allows -->
                  <td><%= user.name %></td>
                <% end %>
                <td><%= group[1] %></td>
                <td><%= count %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= render 'layouts/footer' %>
</div>
<!-- End Page 1 -->



