<% display_labels = ["Adult Inpatient & ED", "Adult ICU", "Pediatric Inpatient", "Pediatric Newborn",
    "Pediatric ED", "Continuity Inpatient", "Continuity External"] %>

<% display_labels.each_with_index do |display_label, i| %>
  <%= content_tag :div, class: "#{i == 0 ? 'lineitem_end' : 'lineitem'}" do %>
    <div class="linelabel blockFloat">
      <strong><%= "#{display_label.split.first}:" %></strong>
      <%= display_label.split.slice(1..-1).join(' ') %>
    </div>
    <%= link_to '#', {onclick: "incrementEncounterType('#{encounter_types[i]}')"} do %>
      <%= content_tag :div, 0, id: encounter_types[i], class: "linenumber gradient_light blockFloatRight" %>
    <% end %>
  <% end %>
<% end %>
