<% current_user.items.each_with_index do |item, i| %>
  <%= content_tag :div, class: "#{i == 0 ? 'lineitem_end' : 'lineitem'}" do %>
    <% display_text = item.label.include?(':') ? item.label.split(':') : item.label %>

    <div class="linelabel blockFloat">
      <% if display_text.respond_to?(:join) # an array %>
        <strong><%= display_text.first.titleize %>:</strong>
        <%= display_text.slice(1..-1).join(' ') %>
      <% else # a string %>
        <strong><%= display_text.titleize %></strong>
      <% end %>
    </div>

    <%= link_to '#', { onclick: "incrementEncounterType('#{item.name}')" } do %>
      <%= content_tag :div, 0, id: item.name, class: "encounter_type_button linenumber gradient_light blockFloatRight" %>
    <% end %>
  <% end %>
<% end %>
